       
<div class="container">
	<div class="row">
		<div class="col-sm-3">
    	    <div class="hero-widget well well-sm">
                <div class="icon">
                     <img src="{{ asset('uploads/icon-easy-to-use.jpg') }}" alt="">
                </div>
                <div class="text">
                    <label>EASY TO USE </label><br>
                    <span>Intuitive and ready to fire</span>
                </div>
            </div>
		</div>
        <div class="col-sm-3">
            <div class="hero-widget well well-sm">
                <div class="icon">
                     <img src="{{ asset('uploads/icon-available.jpg') }}" alt="">
                </div>
                <div class="text">
                    <label >AVAILABILITY ON ALL DEVICES</label><br>
                    <span>Flexibility over multiple terminals with possibility of expanding</span>
                </div>
               
            </div>
		</div>
        <div class="col-sm-3">
            <div class="hero-widget well well-sm">
                <div class="icon">
                     <img src="{{ asset('uploads/icon-fast-loading.png') }}" alt="">
                </div>
                <div class="text">
                    <label>SPEED ALLWAYS MATTERS</label><br>
                    <span>Our site is well optimized and has high quality speed</span>
                </div>
              
            </div>
    	</div>
        <div class="col-sm-3">
            <div class="hero-widget well well-sm">
                <div class="icon">
                     <img src="{{ asset('uploads/icon-secure.png') }}" alt="">
                </div>
                <div class="text">
                    <label>SECURITY OVER ALL OTHERS</label><br>
                    <span>Data protection is very important for us, so you are in good hands</span>
                </div>
            </div>
		</div>
	</div>
</div>